    <style>* {
        background-color: aliceblue;
        font-family: Arial, Helvetica, sans-serif;
    }

    .profile {
        background-color: aquamarine;
        text-align: center;
    }

    #Information {
        font-size: 0.8rem;
    }

    img {
        width: 10%;
        float: right;
        margin-right: 15%;
        margin-bottom: 60px;
        border: 1px solid black;
        border-radius: 12px;
    }

    .Summary {
        text-align: justify;
        border: 1px solid black;
        background-color: beige;
        border-style: dashed;
        margin-right: 20px;
        padding: 10px;
        font-size: 0.9rem;
    }

    .Heading {
        background-color: rgb(145, 212, 212);
    }

    #designation {
        color: blueviolet;
    }

    th,
    td {
        background-color: black;
        color: white;
    }

    .footer {
        border: 1px solid white;
    }

    </style>